{% extends "base.html.twig "%}
{% block styles %}
  <link rel="stylesheet" href="{{ asset('css/lib/spinner.css')}}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
{% endblock %}
{% block body %}
<style>
html, body {
  height: 100%;
  margin: 0;
}
.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}
</style>
    <div class="site-blocks-cover overlay" style="background-image: url(/images/pistaPrinci.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Pistas</h1>
            <p class="mt-4">Aquí puedes ver todas nuestras pistas junto con su localización</p>
          </div>
        </div>
      </div>
    </div>

    <div id="contPrinci">
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/lib/lib-pistas.js')}}"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
{% endblock %}