{% extends 'base.html.twig' %}
{% block styles %}
  <link rel="stylesheet" href="{{ asset('css/lib/spinner.css')}}">
{% endblock %}
{% block body %}
<style>
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>
<div class="text-center w-50 center" id="contPrinci"></div>

{% endblock %}
{% block scripts %}
  <script src="{{ asset('js/lib/lib-misPartidos.js') }}"></script>
{% endblock %}